<!-- <p>employee-list works!</p>
{{expectedVal?.title}}  -->

<!-- <div>
    <h2>Employee List</h2>
    <form (ngSubmit)="loadEmployeeData()">
      <label for="employeeId">Enter Employee ID:</label>
      <input type="number" id="employeeId" [(ngModel)]="employeeId" name="employeeId">
      <button type="submit">Update</button>
    </form>
  </div>
  <div *ngIf="selectedEmployee">

    <h3>Update Employee Details:</h3>
    <form (ngSubmit)="updateEmployeeData()">
      <label for="updatename">Name</label>
      <input type="text" id="updatename" [(ngModel)]="selectedEmployee.ename" name="updatename" ><br>

      <label for="updatecontactno">Contactno</label>
      <input type="text" id="updatecontactno" [(ngModel)]="selectedEmployee.contactno" name="updatecontactno" ><br>
      
      <label for="updatesalary">Salary</label>
      <input type="text" id="updatesalary" [(ngModel)]="selectedEmployee.salary" name="updatesalary" ><br>
      
      <button type="submit">Save Changes</button>
    </form>
  </div>

  <app-employee-details></app-employee-details>
   -->
